@font-face {
  font-family: Montserrat-Regular;
  src: url(fonts/Montserrat-Regular.ttf);
}
.dash-font10 {
  font-family: Montserrat-Regular;
  font-size: 10pt;
  color: #848484;
}
.dash-font14 {
  font-family: Montserrat-Regular;
  font-size: 14pt;
  color: #848484;
}
.dash-font8 {
  font-family: Montserrat-Regular;
  font-size: 8pt;
  color: #848484;
}
.dash-font11 {
  font-family: Montserrat-Regular;
  font-size: 11pt;
  color: #848484;
}
.dash-color1 {
  color: #005ea3;
}
.dash-color2 {
  color: black;
}
.dash-margin1 {
  margin-top: 10px;
}
.dash-margin2 {
  margin-left: 2%;
}
.dash-bgcolor {
  background-color: white;
}
.dash-align {
  padding-top: 1%;
  padding-bottom: 7%;
  padding-left: 3%;
  padding-right: 3%;
}
.dash-margin3 {
  margin-right: 1%;
}
.dash-margin4 {
  margin-right: 2%;
}
.dash-margin5 {
  margin-bottom: -4%;
}
.dash-p1 {
  padding-bottom: 7%;
}
.dash-footer-top {
  //padding-top: 20px;
}
#dash-footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #333;
  display: none ! important;
}
.dash-hide1 {
  display: none;
  margin-top: 6%;
}
.dash-n1 {
  margin-left: 89%;
  margin-top: -5%;
}
.dash-n2 {
  margin-left: 22%;
}
/*Media query for Mobile Responsive*/

@media screen and (max-width: 998px) {
  /* .m11
{
    margin-right:0px;
    margin-top: 0px;
} */
}
@media screen and (max-height: 660px) {
  .dash-m11 {
    margin-right: 0px;
    margin-top: 0px;
  }
  #footer {
    position: relative;
    height: 70px;
  }
}
@media screen and (max-width: 767px) {
  .dash-r1 {
    margin-top: 2%;
    margin-left: 2%;
  }
  .dash-r2 {
    margin-left: 0%;
  }
  .dash-m7 {
    margin-top: -6%;
  }
  .dash-hide {
    display: none;
  }
  .dash-r3 {
    margin-left: -11%;
  }
  .dash-popdown {
    position: absolute;
    right: 2.2%;
    background-color: white;
  }
  .dash-r4 {
    margin-top: 7%;
  }
  .dash-r5 {
    z-index: 0;
  }
  .dash-font14 {
    font-family: Montserrat-Regular;
    font-size: 13pt;
  }
  .dash-m11 {
    margin-right: 0px;
    margin-top: 0px;
  }
  .dash-sm-float-left {
    float: left;
  }
  .dash-sm-float-right {
    float: right;
  }
  .dash-r4 {
    margin-top: 0px;
  }
  .dash-sm-text-center {
    text-align: center;
  }
}
@media screen and (max-width: 678px) {
  #footer {
    position: relative;
    height: 80px;
  }
  .dash-font8 {
    font-family: Montserrat-Regular;
    font-size: 7pt;
    color: #848484;
  }
  .dash-sm-text-center {
    text-align: center;
  }
}
.table-option {
  padding: 0px;
  width: 140px;
}
.all-textalign-center {
  text-align: center;
}
.all-textalign-right {
  text-align: right;
}
.padding-0px-all {
  padding: 0px;
}
