<div class="app-main-container content-page">
  <div class="container padding-0px-all">
    <div class="col-md-4 col-sm-6 col-xs-12 dash-a2 padding-0px-all">
      <p class="dash-font14">Hi <span class="dash-color1">{{fullName}}</span>,Welcome Back!</p>
      <h5 class="dash-font10 dash-hide">My Account</h5>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 pull-right padding-0px-all">
      <div class="col-md-6 col-sm-6 col-xs-6 text-right dash-sm-float-right">
        <h6 class="dash-font8">My Balance</h6>
        <h5 class="dash-font14 dash-color2"><b>{{userBalance}}</b></h5>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 dash-r4 dash-sm-float-left">
        <img class="img-responsive" src="images/dash-icon6.png">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <table datatable="ng" dt-options="dtOptionsdata" dt-column-defs="dtColumnDefs" class="row-border hover" width="100%">
        <thead>
        <tr>
          <th>Name</th>
          <th>Wepa Code</th>
          <th>Sent</th>
          <th class="all-textalign-center">Total Pages</th>
          <th style="width: 5%;">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="printfile in printlist" ng-init="printfile.checked=false">
          <td>{{ printfile.filename }}</td>
          <td>{{ printfile.releaseCode }}</td>
          <td>{{ printfile.uploadTime }}</td>
          <td class="all-textalign-center">{{ printfile.totalPages }}</td>
          <td>
            <!--<ul class="table-option">
                <a href="#/dashboard"><img  src="images/dash-action-_icon.png"></a>
                <a href="#/dashboard"><img class="" src="images/dash-icon9.png"></a>
                <a href="#/dashboard"><img class="" src="images/dash-delete_icon.png"></a>
            </ul>-->
            <input type="checkbox" class="checkbox_size" ng-model="printfile.checked" >
          </td>
        </tr>
        </tbody>
      </table>
      <div style="padding: 15px;">
        <button type="button" ng-click="Releasecodelist()" class="btn btn-primary font_size10_remote col-md-4 col-sm-2 col-xs-1">Remote Release</button>
      </div>
    </div>
  </div>
</div>
